@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1:wght@300;500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500&display=swap"); */

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Nunito Sans', sans-serif;
  /* background: #5060ee; */
  background-repeat: repeat;
  background-size: cover;
  min-height: 100vh;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 8px;
  border-radius: 4px;
}


.brodcst-mdl {
  height: 90vh;
}

/* .add-temp-cl .temp-foot {
  width: 50% !important;
} */
/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 4px;
}

.add-teplet-sld {
  -webkit-user-select: none;
  /* Safari */
  -ms-user-select: none;
  /* IE 10 and IE 11 */
  user-select: none;
  /* Standard syntax */
}

/* .add-teplet-sld .swiper-wrapper {
  transform: translate3d(0px, 0px, 0px) 
} */

.add-teplet-sld .swiper-button-next:after,
.swiper-rtl .swiper-button-prev:after {
  content: 'next';
  background-color: rgb(182 182 182 / 62%);
  color: rgb(122 122 122);
  font-size: 14px;
  width: 30px;
  font-weight: bold;
  height: 27px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.add-teplet-sld .swiper-button-prev:after,
.swiper-rtl .swiper-button-next:after {
  content: 'prev';
  background-color: rgb(182 182 182 / 62%);
  color: rgb(122 122 122);
  font-size: 14px;
  width: 30px;
  font-weight: bold;
  height: 27px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.add-teplet-sld .swiper-button-prev {
  left: 171px;
  right: auto;
}

.add-teplet-sld .swiper-button-next {
  right: 173px;
  left: auto;
}

.add-teplet-sld .swiper-wrapper {
  align-items: end;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #6f6f6f;
  border-radius: 4px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(136, 136, 136);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #5060ee;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #5060ee transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}

@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.lds-facebook {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 100px;
}

.lds-facebook div {
  display: inline-block;
  position: absolute;
  left: 8px;
  width: 16px;
  background: #fff;
  animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}

.lds-facebook div:nth-child(1) {
  background-color: #103d7b;
  left: 8px;
  animation-delay: -0.24s;
}

.lds-facebook div:nth-child(2) {
  background-color: #007dff;

  left: 32px;
  animation-delay: -0.12s;
}

.lds-facebook div:nth-child(3) {
  background-color: #fff;

  left: 56px;
  animation-delay: 0;
}

@keyframes lds-facebook {
  0% {
    top: 8px;
    height: 64px;
  }

  50%,
  100% {
    top: 24px;
    height: 32px;
  }
}

.lds-ripple {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.lds-ripple div {
  position: absolute;
  border: 4px solid #000;
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}

.dark .lds-ripple div {
  border: 4px solid #fff;
}

.lds-ripple div:nth-child(2) {
  animation-delay: -0.5s;
}

@keyframes lds-ripple {
  0% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 0;
  }

  4.9% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 0;
  }

  5% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 1;
  }

  100% {
    top: 0px;
    left: 0px;
    width: 72px;
    height: 72px;
    opacity: 0;
  }
}

.dark input[type='time']::-webkit-calendar-picker-indicator {
  filter: invert(1);
}

input[type='time']::-webkit-calendar-picker-indicator {
  filter: invert(0);
}

.dark input[type='month']::-webkit-calendar-picker-indicator {
  filter: invert(1);
}

input[type='month']::-webkit-calendar-picker-indicator {
  filter: invert(0);
}

body {
  background: #e8e8e8;
}

.dark {
  background: #171717;
}

.rotate_spin {
  animation: rotate_sp 1.2s linear infinite;
}

@keyframes rotate_sp {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

div[dir='rtl'] .ReactFlagsSelect-module_selectOptionValue__vS99- {
  gap: 0.5rem;
}

div[dir='rtl'] .ReactFlagsSelect-module_selectValue__152eS {
  gap: 0.5rem;
}

.rtl {
  direction: rtl;
}

.ltr {
  direction: ltr;
}

#appId {
  min-height: 100vh;
}

div[dir='ltr'],
div[dir='rtl'] {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.basic-shape-circle {
  clip-path: circle(closest-side);
}

.dndflow {
  flex-direction: column;
  display: flex;
  flex-grow: 1;
  height: 100%;
}

.dndflow aside {
  border-right: 1px solid #eee;
  padding: 15px 10px;
  font-size: 12px;
  background: #fcfcfc;
}

.dndflow aside .description {
  margin-bottom: 10px;
}

.dndflow .dndnode {
  height: 20px;
  padding: 4px;
  border: 1px solid #1a192b;
  border-radius: 2px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: grab;
}

.dndflow .dndnode.input {
  border-color: #0041d0;
}

.dndflow .dndnode.output {
  border-color: #ff0072;
}

.dndflow .reactflow-wrapper {
  flex-grow: 1;
  height: 100%;
}

.dndflow .selectall {
  margin-top: 10px;
}

.flex:has(.live_chat_search) {
  flex-wrap: wrap !important;
}

.live_chat_search {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .dndflow {
    flex-direction: row;
  }

  .dndflow aside {
    width: 20%;
    max-width: 250px;
  }
}

.edgebutton {
  width: 20px;
  height: 20px;
  background: transparent;
  border: 1px solid #ff00ff;
  cursor: pointer;
  border-radius: 50%;
  font-size: 12px;

  line-height: 1;
}

.edgebutton:hover {
  box-shadow: 0 0 6px 2px rgba(0, 0, 0, 0.08);
}

.edgebutton-foreignobject div {
  background: transparent;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 40px;
}

.ripple {
  position: relative;
  overflow: hidden;
}

.ripple::after {
  content: '';
  position: absolute;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  width: 100px;
  height: 100px;
  transform: scale(0);
  opacity: 0;
  transition:
    transform 0.5s,
    opacity 1s;
}

.ripple:active::after {
  transform: scale(4);
  opacity: 1;
  transition: 0s;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -50px;
}

@media (max-width: 1800px) {
  .add-teplet-sld .swiper-button-prev {
    left: 0;
  }

  .add-teplet-sld .swiper-button-next {
    right: 0;
  }

  .add-temp-cl .temp-foot {
    height: 100%;
    width: 46% !important;
  }
}

@media (max-width: 1440px) {}

@media (max-width: 1280px) {
  .chat_massge_container {
    flex-wrap: wrap;
  }

  .chat_content_box {
    width: 100%;
  }

  .profile_screen {
    width: 100%;
    display: none;
  }

  .profile_mobile_arrow {
    display: block;
  }

  .mobile_profile_show {
    display: block;
  }
}

@media (max-width: 1200px) {
  .add-temp-cl {
    gap: 20px;
  }

  .add-temp-cl .temp-foot {
    width: 100% !important;
  }
}

@media (min-width: 768px) {
  .wave-0 {
    /* aspect-ratio: 1597/187; */
    width: 100%;
    background: url('/landing_page/vector.svg');
    background-repeat: no-repeat;
    /* background-position: center; */
    background-size: cover;
  }

  .wave-1 {
    width: 100%;
    background: url('/landing_page/vector2.svg');
    background-repeat: no-repeat;
    /* background-position: center; */
    background-size: cover;
  }
}

@media (max-width: 768px) {
  .pricing_box {
    width: 100% !important;
  }
}